$linkColor:  #2c87f0;

%awesome{
  text-decoration: underline;
}

#headshot{
  max-width: 480px;
}

em{
  @extend %awesome;
}

.wonderful{
  @extend %awesome;
  font-size: 17px;
}

a{
  color: $linkColor;
}

a:hover, a:active, a:focus {
  color:#c33;
}

.indent {
  text-indent: 10px;
}

.aboutLabel{
  font-weight: bold;
}

div{
  .pageLabel{
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .tableResizeText {
    font-size: 12px;
  }

  .h1ResizeText {
    font-size: 30px;
  }
}
